/*------------------------------------*\
    #BODY
\*------------------------------------*/

html {
	min-height: 100vh;
}

body {
	background-color: var(--body-bg);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
