/*------------------------------------*\
    #LISTS
\*------------------------------------*/

ul,
ol {
    font-family: $font-family-regular;
    font-size: toRem(18);
}

.list-bare {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
