.rte {
    margin: 0 auto;
    max-width: toRem(768);

    p  { margin-bottom: 1.5em;  }
    h2 { margin-bottom: 0.25em; }
    h3 { margin-bottom: 0.25em; }
    .arrow-link { margin-bottom: 1.5em; }
}
