/*------------------------------------*\
    #TEXT
\*------------------------------------*/

p {
    color: $color-neutral-3;
    font-family: $font-family-regular;
    font-size: toRem(18);
    line-height: 1.5;
}
