@mixin focus() {
	outline: 3px solid $color-brand-red;
}

@mixin arrow-link() {
    @include size(0.35em);
    content: '';
    border-top: 0.125em solid;
    border-right: 0.125em solid;
    margin-left: 1px;
    transform: rotate(45deg) translateX(0.55em) translateY(0.25em);
    transform-origin: center;
    position: absolute;
}

@mixin gradient($start-color, $end-color, $orientation) {
    background: $start-color;
    @if $orientation == 'vertical' {
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: linear-gradient(to bottom, $start-color, $end-color);
    } @else if $orientation == 'horizontal' {
        background: -webkit-linear-gradient(left, $start-color, $end-color);
        background: linear-gradient(to right, $start-color, $end-color);
    } @else {
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
        background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

@mixin discrete-link() {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

@mixin size($size) {
    height: $size;
    width: $size;
}
