// Brand colors
$color-brand-red:   #e3000b;
$color-brand-pink:  #fdeded;
$color-brand-green: #54a800;

// $color-brand-red: 227, 00, 11;
// $color-brand-pink: 253, 237, 237;
// $color-brand-pink-hover: darken($color-brand-pink, 5);

// Neutral colors
$color-neutral-white: white;
$color-neutral-black: black;
$color-neutral-3:  #333;
$color-neutral-b:  #bbb;
$color-neutral-75: #757575;
$color-neutral-e4: #e4e4e4;

// Spacing
$spacing: 1.5rem;

:root {
    --color-primary: #{$color-brand-red};
    --color-secondary: #{$color-brand-pink};
    --body-bg: #{$color-neutral-white};
    --link-list-bg: var(--color-secondary);
    --link-list-bg-icon: #{$color-neutral-white};
    --video-desc-bg: #{$color-brand-pink};
    --video-desc-p: 1.5rem;
    --bs-gutter-x: #{$spacing};
    --bs-gutter-y: #{$spacing};
}

$content-width-sm: 540px;
$content-width-md: 820px;
$content-width-lg: 1230px;
$content-width-xl: 1440px;

// Typography
$font-family-regular: "FuturaBT", "Helvetica", "arial-adjusted", "Arial", sans-serif;
$font-family-bold: "FuturaBT-Bold", "Helvetica", "Arial", sans-serif;
$font-family-heavy: "FuturaBT-Heavy", "Helvetica", "Arial", sans-serif;
$font-family-secondary: serif;

// Transitions
$transition-delay: 0.2s;
