.is-relative {
    position: relative;
}

.expanded-link {
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// Color
.u-bg-white {
    background-color: $color-neutral-white;
}

// Font
.font-bold {
    font-family: $font-family-heavy;
}
